h1 {
    font-size: 60px;
    text-align: center;
    font-family: arial;
    margin: 10px;
}

button {
    display: block;
    margin: auto;
}

.container {
    width: 600px;
    margin: auto;
    cursor: url(images/hammer_2.png), auto;
}

.container:active {
    cursor: url(images/hammer_3.png), auto;
}

.ground-hole {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.ground-hole::after {
	content: '';
	display: block;
	width: 200px;
	height: 100px;
	background: url(images/ground_hole.png) bottom center no-repeat;
	background-size: 80%;
	position: absolute;
	bottom: -25px;
}

.mole {
	width: 100%;
	height: 100%;
	background: url(images/mole.png) bottom center no-repeat;
	background-size: 60%;
	position: absolute;
	top: 100px;
	transition: top 0.3s;
}

.ground-hole.appear .mole {
  	top: -15px;
}